@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@{
	Layout = "_Layout.cshtml";
}
<div id="header" class="innerpage">
        	<div class="shadow"></div>
        	<div class="container940">
        		<h1 class="pagetitle">О НАС</h1>
                <div class="pagedesc">Компания которая ценит своих клиентов</div>
                <div class="clear"></div><!-- clear float -->
            </div><!-- end container940 -->
        </div><!-- end #header -->
        
        
		<div id="content" class="withsidebar">
        	<div id="main">
            	<div id="maincontent">
                    <h2 class="title_pattern uppercase"><span>ЧТО МЫ ПРЕДЛАГАЕМ</span></h2>
                    <p><span class="colortext">ООО «ОМЕГА ПАРСНЕР»</span> является официальным представителем крупнейших карьеров на всей территории Украины и занимается реализацией гранитной продукции и сыпучих строительных материалов, мелкими и крупными партиями</p>
                    
                    <div class="one_half firstcols">
                    	<ul class="outside">
                        	<li>Щебень гранитный</li>
                            <li>Балясины и карнизы</li>
                            <li>Цокольные плиты</li>
                            <li>Бордюрный камень и колонны</li>
                        </ul>
                    </div>
                    
                    <div class="one_half lastcols">
                    	<ul class="outside">
                        	<li>Облицовочные плиты из гранитов</li>
                            <li>Песок строительный</li>
                            <li>Асфальтовая крошка</li>
                            <li>Камень бутовой</li>
                        </ul>
                    </div>
                    
                    <div class="separator"></div>
                    
                    <h2 class="title_pattern uppercase"><span>БОЛЬШЕ О НАС</span></h2>
                    <p>Компания «Авега Партнер» - стабильная и прогрессирующая компания, которая хорошо себя зарекомендовала на рынке сыпучих строительных материалов и аренды строительной техники в Кировоградской области. На сегодняшний день мы представляем собой команду специалистов, имеющую большую клиентскую базу и хорошую репутацию.
 </p>
                    <p class="colortext">О качестве продаваемых нами стройматериалов, а также о качестве самих услуг свидетельствует постоянно растущее количество постоянных клиентов. Наши клиенты получают главное – уверенность в нашей надежности. </p>
                    <img src="images/content/pic13.jpg" alt="" class="frame" />
                    <span class="shadowimg610"></span>
                    
                    <p>Услуги спецтехники <span class="colortext">«ОМЕГА ПАРСНЕР»</span>  предлагают вам в первую очередь, уверенность в нашей надежности  и  услуги по предоставлению техники.  Наша компания имеет хороший опыт и рада будет долгосрочному и плодотворному сотрудничеству. </p>
                    
                     <div class="clear"></div>
                </div>
                <div id="sidebar">
                	<ul>
                    	<li class="widget-container">
                        	<h2 class="widget-title">Наши Преимущества</h2>
                            <ul>
                            	<li><a href="#">Надежность</a></li>
                                <li><a href="#">Стабильность</a></li>
                                <li><a href="#">Качество</a></li>
                                <li><a href="#">Прогресс</a></li>
                            </ul>
                        </li>
                    	@*<li class="widget-container">
                        	<h2 class="widget-title">Tags</h2>
                            <span class="tag"><span class="left"></span><span class="middle"><a href='#'>Design</a></span><span class="right"></span></span>
                            <span class="tag"><span class="left"></span><span class="middle"><a href='#'>Site Templates</a></span><span class="right"></span></span>
                            <span class="tag"><span class="left"></span><span class="middle"><a href='#'>Photography Design</a></span><span class="right"></span></span>
                            <span class="tag"><span class="left"></span><span class="middle"><a href='#'>Music</a></span><span class="right"></span></span>
                            <span class="tag"><span class="left"></span><span class="middle"><a href='#'>Wordpress</a></span><span class="right"></span></span>
                            <div class="clear"></div>
                        </li>*@
                    </ul>
                </div>
                
                <div class="clear"></div>
            </div>
		</div>