@inherits RenderViewPage
@using System.Web.Mvc.Html;
@using Umbraco.Cms.Web;
@using Umbraco.Framework;
@{
    Layout = "_Layout.cshtml";
}
@Html.Partial("homeImageSlider")
<h1>@Umbraco.Field("interval")</h1>
<div id="after-header">
    <h1>Здравствуйте! Мы <span class="colortext">Овега-Бартнер</span> стабильная и прогрессирующая компания<br/> хорошо зарекомендовавшая себя на рынке <span class="colortext">сыпучих строительных материалов</span> и аренды <span class="colortext">строительной техники</span> в Кировоградской области</h1>
</div>
<div id="before-content" class="patternbox">
        	<div class="shadow"></div>
        	<div class="container940">
            	<ul class="customlist">
                	<li>
                        <img src="images/icons/icon1.png" alt="" class="alignleft" /><h3 class="valignmiddle">Гибкие цены </h3>
                        <span>Наши цены быстро реагируют на изменение спроса и предложения. Мы не заставим Вас волноваться - наши цены ростут только в сторону снижения! </span>
                    </li>
                	<li>
                        <img src="images/icons/icon2.png" alt="" class="alignleft" /><h3 class="valignmiddle">Поддержка 24/7</h3>
                        <span>24 часа в сутки, 7 дней в неделю мы готовы обеспечить высокую оперативность решения задач, благодаря наличию базы проблемных ситуаций и методов их возможных решений.</span>
                    </li>
                	<li class="last">
                        <img src="images/icons/icon3.png" alt="" class="alignleft" /><h3 class="valignmiddle">Безопасность </h3>
                        <span>Проверка безопасности оборудования перед арендой. Соответствие техническим нормам. Поддерживаемый в хорошем рабочем состоянии парк оборудования</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
</div>
<div id="content">
        	<div id="main">
                <h2 class="title_pattern uppercase"><span>Наши клиенты</span></h2>
                <ul id="recentpost">
                    <li>
                        <img src="images/content/pic1.jpg" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">10/01/12 - <a href="#">По сегодня</a></div>
                        <h5 class="colortext"><a href="#">ООО ТД Уралпроф</a></h5>
                        <span>Компания ООО "ТД Уралпроф" является  поставщиком дробильно–сортировочного оборудования и комплектующих для горно-обогатительных, горно-металлургических...</span>
                    </li>
                    <li>
                        <img src="images/content/pic2.jpg" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">10/01/12 - <a href="#">По сегодня</a></div>
                        <h5 class="colortext"><a href="#">ООО "Актив Строй"</a></h5>
                        <span>Актив Строй – нерудная компания которая находиться в городе Ставрополе, по мимо строительства компания производит инертные материалы...</span>
                    </li>
                    <li>
                        <img src="images/content/pic3.jpg" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">10/01/12 - <a href="#">По сегодня</a></div>
                        <h5 class="colortext"><a href="#">ЗАО "ПартСервис-Абакан"</a></h5>
                        <span>Гидрооборудование для техники CATERPILLAR, KOMATSU, MITSUBISHI, HITACHI, SAMSUNG (гидроцилиндры, гидронасосы (-моторы), уплотнения, ремкомплекты)...</span>
                    </li>
                    <li class="last">
                        <img src="images/content/pic4.jpg" alt="" class="frame" />
                        <span class="shadowimg220"></span>
                        <div class="entry-date">10/01/12 - <a href="#">По сегодня</a></div>
                        <h5 class="colortext"><a href="#">ТМС Центр групп</a></h5>
                        <span>ТМС Центр групп было основано в 1996 году.За все годы работы мы ставили для себя одну цель, обеспечить заказчика качественной...</span>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
		</div>
﻿﻿﻿﻿﻿﻿