<?xml version="1.0" encoding="utf-8"?>
<security>
  <membershipProviders>
    <add name="UsersMembershipProvider" 
         type="Umbraco.Cms.Web.Security.UsersMembershipProvider, Umbraco.Cms.Web" 
         providerUserKeyType="Umbraco.Framework.HiveId, Umbraco.Framework" 
         wildcard="*" />
    <add name="MembersMembershipProvider" 
         type="Umbraco.Cms.Web.Security.MembersMembershipProvider, Umbraco.Cms.Web" 
         providerUserKeyType="Umbraco.Framework.HiveId, Umbraco.Framework" 
         wildcard="*" />
    <add name="SqlMembershipProvider" 
         type="System.Web.Security.SqlMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
         providerUserKeyType="System.Guid" 
         wildcard="%" />
    <add name="ActiveDirectoryMembershipProvider" 
         type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
         providerUserKeyType="System.Security.Principal.SecurityIdentifier" 
         wildcard="*" />
  </membershipProviders>
</security>